<div id='fan-bg'>
	<%= render :partial => 'fan_bg' %>
</div>

<div id='fan'>
	<%= render :partial => 'fan' %>
</div>

<%= image_tag "sunspot_admin/fan-grill.png", :id => "fan-grill" %>

<audio id="fan-start-audio" preload="auto">
	<source src="/audio/fan_start.mp3">
	<source src="/audio/fan_start.ogg">
</audio>
<audio id="fan-middle-audio" preload="auto">
	<source src="/audio/fan_2min_96kbs.mp3">
	<source src="/audio/fan_2min_96kbs.ogg">
</audio>
<audio id="fan-end-audio" preload="auto">
	<source src="/audio/fan_end.mp3">
	<source src="/audio/fan_end.ogg">
</audio>
<audio id="sparks-audio" preload="auto">
	<source src="/audio/sparks.mp3">
	<source src="/audio/sparks.ogg">
</audio>